* {
    box-sizing: border-box; /* مهم جداً */
  }
/* Page background */
body {
    margin: 0;
    background: rgba(12, 18, 32, 1);
    font-family: 'Inter', sans-serif;
    color: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 6.25rem;
    padding: 1.25rem 0;
    background: rgba(12, 18, 32, 1);
}

.container {
    width: 90%;
    max-width: 118.75rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo (icon + text) */
.logo-group {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.logo-icon {
    width: 2.625rem;
    height: 3.4375rem;
}

.logo-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.logo-text p {
    font-size: 1rem;
    margin: 0;
    margin-top: 0.125rem;
    font-weight: 400;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2.5rem; /* المسافة بين الروابط والزر */
}
/* Center nav links */
.nav-links {
    display: flex;
    gap: 1.875rem; /* المسافة بين كل رابط */
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Right button */
.demo-btn {
    background: rgba(85, 191, 214, 1);
    padding: 0.875rem 1.5625rem;
    border-radius: 0.375rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
}
/* السكشن الرئيسي */
.hero-section {
    width: 100%;
    padding: 5rem 0;
    margin-top: 1.25rem; /* مسافة تحت الناف */
}

/* الكونتينر الأساسي */
.hero-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.125rem;
}

/* النصوص */
.hero-text {
    flex: 1;
}

.small-title {
    width: 35rem;
    font-size: 1.25rem;
    font-weight: 600;
  
}

.big-title {
     width: 43.3125rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1.5625rem;
}

.big-title span {
    color:rgba(85, 191, 214, 1);/* غيّري اللون */
}

.hero-paragraph {
    width: 43.3125rem;
    font-size: 1.5rem;
    line-height: 130%;
    font-weight: 400;
    max-width: 37.5rem;
    margin-bottom: 2.5rem;
}

/* الزرارين */
.hero-buttons {
    display: flex;
    align-items: center;
    gap: 1.6875rem;
}

.btn {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.primary-btn {
    width: 12.5rem;
    height: 3.75rem;
    background-color: rgba(85, 191, 214, 1);
    color: rgba(12, 18, 32, 1);;
    border: none;
}

.secondary-btn {
    width: 12.5rem;
    height: 3.75rem;
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* الصورة */
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 41.25rem;   /* حسب الفيجما */
    height: 31.1875rem;      /* حسب الفيجما */
    object-fit: cover;
    border-radius: 0.625rem;
}

/* موبايل */

.why-section {
    width: 100%;
    padding: 5rem 0;
    background: rgba(12, 18, 32, 1);
    color: white;
}

.why-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}

.why-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.75rem;
}

.cards {
    display: flex;
    max-width: 100rem;
    gap: 3.125rem; /* المسافة بين المربعات */
    justify-content: center;
    align-items: center;
}

.card {
    width: 32rem;
    height: 21.75rem;
    background: rgba(20, 31, 55, 1);
    border: 1px solid rgba(43, 52, 75, 1);
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* الأيقونة على الشمال */
    color: white;
}

.card-icon {
    width: 3.6875rem;
    height: 3.6875rem;
    margin-bottom: 0.625rem;
}

.card-title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    width: 100%;
    margin-bottom: 0.3125rem;
    white-space: nowrap;
}

.card-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
    width: 100%;
}



  
  .features-section {
    width: 100%;
    max-width: 100rem;
    text-align: center;
  }

  .features-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}
  .title-features {
    font-size: 3rem;
    margin-bottom: 3.75rem;
    font-weight: 700;
    font-style: bold;
  }
  
  /* الشبكة بدون أي بوردر خارجي */
  .grid-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(20, 31, 55, 1);
  }
  
  /* الخطوط الداخلية فقط */
  .grid-features > div {
    padding: 1.875rem 1.5625rem;
    border-right: 0.03125rem solid rgba(255, 255, 255, 0.25);
    border-bottom: 0.03125rem solid rgba(255, 255, 255, 0.25);
  }
  
  /* إزالة آخر عمود */
  .grid-features > div:nth-child(3n) {
    border-right: none;
  }
  
  /* إزالة آخر صف */
  .grid-features > div:nth-last-child(-n+3) {
    border-bottom: none;
  }
  
  .feature-card {
    text-align: left;
  }
  
  .feature-card .icon {
    width: 4.6875rem;
    height: 4.6875rem;
    margin-bottom: 0.75rem;
  }
  
  .feature-card h3 {
    font-size: 2.25rem;
    margin-bottom: 0.375rem;
    color:rgba(255, 255, 255, 1) ;
    font-weight: 700;
    font-style: bold;
  }
  
  .feature-card p {
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 1) ;
    font-weight: 400;
    font-style: regular;
  }
  

  .illustration {
    padding: 0;                 /* نفس حجم باقي الخلايا */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;         /* لأنها آخر عنصر */
    border-bottom: none;
    border-top: none;
  }
  
  .grid-image {
    width: 100%;                /* قد الخانة بالظبط */
    height: 100%;
    object-fit: contain;        /* تبان كاملة بدون ما تتمدد */
  }
  
  