* {
    box-sizing: border-box; 
  }
/* Page background */
body {
    margin: 0;
    background: rgba(12, 18, 32, 1);
    font-family: 'Inter', sans-serif;
    color: #fff;
    max-width: 1920;
    max-height: 5382px;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 6.25rem;
    padding: 1.25rem 0;
    background: rgba(12, 18, 32, 1);
}

.container {
    width: 90%;
    max-width: 118.75rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo (icon + text) */
.logo-group {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.logo-icon {
    width: 2.625rem;
    height: 3.4375rem;
}

.logo-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.logo-text p {
    font-size: 1rem;
    margin: 0;
    margin-top: 0.125rem;
    font-weight: 400;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2.5rem; /* المسافة بين الروابط والزر */
}
/* Center nav links */
.nav-links {
    display: flex;
    gap: 1.875rem; /* المسافة بين كل رابط */
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Right button */
.demo-btn {
    background: rgba(85, 191, 214, 1);
    padding: 0.875rem 1.5625rem;
    border-radius: 0.375rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
}
/* السكشن الرئيسي */
.hero-section {
    width: 100%;
    padding: 5rem 0;
    margin-top: 1.25rem;
    padding: 2rem 0;  /* مسافة تحت الناف */
}

/* الكونتينر الأساسي */
.hero-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.125rem;
}

/* النصوص */
.hero-text {
    flex: 1;
}

.small-title {
    width: 35rem;
    font-size: 1.25rem;
    font-weight: 600;
  
}

.big-title {
     width: 43.3125rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1.5625rem;
}

.big-title span {
    color:rgba(85, 191, 214, 1);/* غيّري اللون */
}

.hero-paragraph {
    width: 43.3125rem;
    font-size: 1.5rem;
    line-height: 130%;
    font-weight: 400;
    max-width: 37.5rem;
    margin-bottom: 2.5rem;
}

/* الزرارين */
.hero-buttons {
    display: flex;
    align-items: center;
    gap: 1.6875rem;
}

.btn {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.primary-btn {
    width: 12.5rem;
    height: 3.75rem;
    background-color: rgba(85, 191, 214, 1);
    color: rgba(12, 18, 32, 1);;
    border: none;
}

.secondary-btn {
    width: 12.5rem;
    height: 3.75rem;
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* الصورة */
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 41.25rem;   /* حسب الفيجما */
    height: 31.1875rem;      /* حسب الفيجما */
    object-fit: cover;
    border-radius: 0.625rem;
}

/* موبايل */

.why-section {
    width: 100%;
    padding: 2rem 0;
    background: rgba(12, 18, 32, 1);
    color: white;

}

.why-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}

.why-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.75rem;
}

.cards {
    display: flex;
    max-width: 100rem;
    gap: 3.125rem; /* المسافة بين المربعات */
    justify-content: center;
    align-items: center;
}

.card {
    width: 32rem;
    height: 21.75rem;
    background: rgba(20, 31, 55, 1);
    border: 1px solid rgba(43, 52, 75, 1);
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* الأيقونة على الشمال */
    color: white;
}

.card-icon {
    width: 3.6875rem;
    height: 3.6875rem;
    margin-bottom: 0.625rem;
}

.card-title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    width: 100%;
    margin-bottom: 0.3125rem;
    white-space: nowrap;
}

.card-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
    width: 100%;
}



  
  .features-section {
    width: 100%;
    max-width: 100rem;
    text-align: center;
    padding: 2rem 0;
  }

  .features-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}
  .title-features {
    font-size: 3rem;
    margin-bottom: 3.75rem;
    font-weight: 700;
    font-style: bold;
  }
  
  /* الشبكة بدون أي بوردر خارجي */
  .grid-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(20, 31, 55, 1);

  }
  
  /* الخطوط الداخلية فقط */
  .grid-features > div {
    padding: 1.875rem 1.5625rem;
    border-right: 0.03125rem solid rgba(255, 255, 255, 0.25);
    border-bottom: 0.03125rem solid rgba(255, 255, 255, 0.25);
  }
  
  /* إزالة آخر عمود */
  .grid-features > div:nth-child(3n) {
    border-right: none;
  }
  
  /* إزالة آخر صف */
  .grid-features > div:nth-last-child(-n+3) {
    border-bottom: none;
  }

  .grid-features > div:nth-child(6) {
    border-bottom: none !important;
}


  .feature-card {
    text-align: left;
  }
  
  .feature-card .icon {
    width: 4.6875rem;
    height: 4.6875rem;
    margin-bottom: 0.75rem;
  }
  
  .feature-card h3 {
    font-size: 2.25rem;
    margin-bottom: 0.375rem;
    color:rgba(255, 255, 255, 1) ;
    font-weight: 700;
    font-style: bold;
  }
  
  .feature-card p {
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 1) ;
    font-weight: 400;
    font-style: regular;
  }
  

  .illustration {
    padding: 0;                 /* نفس حجم باقي الخلايا */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;         /* لأنها آخر عنصر */
    border-bottom: none;
    border-top: none;
    border: none !important;
  }
  
  .grid-image {
    width: 100%;               
    height: 100%;
    object-fit: contain;       
  }
  
  .makers-section {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center; 
  }
  
  .makers-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .makers-small-title {
    max-width:35rem ;
    font-weight: 400;
    color: rgba(169, 233, 245, 1);
    margin-bottom: 0; 
  }
  
  .makers-big-title {
    text-align: center;
    max-width:40.625rem ;
    font-size:3rem;
    font-weight: 700;
    margin-top: 0.25rem;
    color: rgba(255, 255, 255, 1);
  }
  
  .makers-content {
    display: flex;
    align-items: stretch; /* يخلي الأعمدة مساوية للصورة */
    gap: 2rem;
  
  }
  
  .makers-image {
    flex: 1;
    max-width:32.0625rem;
    max-height:22.4375rem ;
  }
  
  .makers-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
  }
  
  .makers-right {
    flex: 2;
    display: flex;
    gap: 2rem;
  }
  
  .makers-column {
    display: flex;
    flex-direction: column;
    justify-content: center; /* يملأ العمود بالكامل */
    gap: 2rem;
  }
  
  .makers-item {
    display: flex;
    flex-direction: column; /* السطر الأول: العنوان الكبير + ✔، السطر الثاني: العنوان الصغير */
    gap: 0.5rem;
  }
  
  .makers-item h3 {
    display: flex;
    align-items: center; /* ✔ جنب العنوان الكبير */
    gap: 0.625rem; /* المسافة بين العلامة والعنوان الكبير */
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    font-style: bold;
    white-space: nowrap;
  }
  
  .makers-item p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: regular;
  }
  .makers-item .check {
    width: 2.125rem;
    height: 2.125rem;
  }

  .makers-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .btn-primary {
    padding: 0.875rem 1.5625rem;
    background-color: rgba(85, 191, 214, 1);
    color: #0c1220;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;
  }
  .table-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: #0c1220; /* نفس خلفية باقي السكاشنز */
  }
  .table-title{
    max-width: 33.75rem;
    font-size:3rem;
    font-style: bold;
    font-weight: 700;
  }
  .table-container {
    width: 90%;
    max-width: 1000rem;
    margin: 0 auto;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 39.5625rem;
    background: rgba(20, 31, 55, 1);
    border: 1px solid rgba(74, 86, 119, 1);
  }
  
  .table-header {
    display: flex;
    border-bottom: 1px solid rgba(74, 86, 119, 1);
    height: 5.5rem;
  }
  
  .table-header-cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* تبدأ من الشمال */
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    border-right: 1px solid rgba(74, 86, 119, 1);
  }
  
  .table-body {
    display: flex;
    flex: 1;
  }
  
  .table-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* كل العناصر تبدأ من الشمال */
    padding: 1rem;
    gap: 0.75rem;
    color: #fff;
    font-size: 1.25rem;
    border-right: 1px solid rgba(74, 86, 119, 1);
  }
  .table-column:last-child {
    border-right: none; /* آخر عمود ما يكونش عنده خط */
  }
  .faq-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .faq-container {
    width: 1056px; /* أقصى عرض */
  }
  
  .faq-title {
    font-size: 3rem; /* حوالي 48px */
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .faq-box {
    width: 1056px;
    height: 479px;
    background: rgba(20, 31, 55, 1);
    border: 1px solid rgba(43, 52, 75, 1);
    display: flex;
    flex-direction: column; /* عمودياً */
    justify-content: space-around; /* توزيع الديفات بالتساوي */
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
  .faq-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* المسافة بين العنوان والفقرة */
  }
  
  .faq-item h3 {
    font-size: 2.25rem; /* حوالي 30px */
    font-weight: 700;
    font-style: bold;
    color: white;
    margin: 0;
  }
  
  .faq-item p {
    font-size:1.5rem ; /* حوالي 20px */
    color: rgba(200,200,200,1);
    margin: 0;
    font-weight: 400;
    font-style: regular;
  }
  .footer {
    width: 78.6875rem;       /* 1259px ÷ 16 */
    height: 3.3125rem;       /* 53px ÷ 16 */       /* لو عايزة تحطيه في نفس مكانه */       /* 330px ÷ 16 */
    
    font-weight: 400;
    font-style: regular;       /* Regular */
    font-size: 1.5rem;        /* 24px ÷ 16 */
    line-height: 100%;
    text-align: center;
    letter-spacing: 0;
    
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem; 
  }
  